
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b2430;
  color: white;
}
main {
  height: calc(100vh - 170px);
}
a {
  color: white;
  text-decoration: none;
}
li{
  list-style: none;
}
.home-section {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-image: url(https://d3e6o3xmbgc08e.cloudfront.net/cms-images/attractions/tv-and-film-header-overlay);
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .home-btn {
    background-color: #0f79af;
    color: black;
    text-align: center;
    width: 150px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 30px;
  }
}